@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Rosario:ital,wght@0,300;0,400;0,500;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F8F8;
}

header {
  padding: .55rem;
  background-color: #6f778e;
  display: flex;
  justify-content: space-between;
}

header a.button::first-of-type {
  text-align: left;
}

header a.button,
header button {
  background-color: #B4D2E7;
  border-color: #6f778e;
  color: #000100;
}

header a.button:hover,
header button:hover {
  border-color: #000100;
  color: #000100;
}

header form input {
  height: 2rem;
}


header form input.sbar {
  min-width: 20vw;
}

div.hero {
  min-height: 520px;
  background: url(../uploads/0b720bdfa401ebce7194e306bafa1106f3f37773_large.jpg) center/cover no-repeat;
}

.heroText {
  background-color: rgba(111, 119, 142, .2);
  padding: .5rem;
  width: 30vw;
  margin: 5rem 4rem;
}

.heroText h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #000100;
  line-height: 3.2rem;
}

.heroText a {
  font-family: Rosario;
  letter-spacing: .025rem;
  font-weight: 0, 400;
  font-size: 1.3rem;
  color: #000100;
  line-height: 2rem;
  width: 100%;
  background-color: #000100;
  border: transparent;
  color: #fff;
}

.heroText a:hover {
  color: #6f778e;
  font-weight: 600;
}

.recentReviews h3 {
  line-height: 6rem;
  text-align: center;
  font-weight: 400;
  color: #000100;
  font-size: 1.94rem;
}

.recentReviews .grid {
  display: block;
  flex-wrap: wrap;
}

.recentReviews .card {
  width: 90%;
  margin: 2rem auto;
}

.recentReviews .card .card-header-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.recentReviews .card ul {
  display: flex;
}

.recentReviews .card .card-content {
  display: flex;
}

.recentReviews .card .card-content article {
  width: 70%;
  padding-left: .75rem;
}

.recentReviews .card .card-content article h6 {
  font-size: .6rem;
  line-height: 1.1rem;
}

.recentReviews .card .card-content article p {
  font-size: 1.15rem;
}

.recentReviews .card .card-content article ul {
  font-size: 1.15rem;
  line-height: 1.75rem;
  width: 60%;
  justify-content: space-between;
  color: #94c5cc;
}

.card i {
  color: #B4D2E7;
  background-color: #6f778e;
  margin: .25rem;
  padding: .15rem;
  border-radius: 5px;
}

.recentReviews .card .card-content a.button {
  margin: .5rem auto;
  background-color: #94c5cc;
  color: #000100;
  font-weight: 400;
}

.recentReviews .card .card-content a.button:hover {
  border-color: #000100;
}

section.about article {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
  flex-direction: column;
}

section.about h3 {
  line-height: 6rem;
  text-align: center;
  font-weight: 400;
  color: #000100;
  font-size: 1.94rem;
}

section.terms article {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
  flex-direction: column;
}

section.terms h3 {
  line-height: 6rem;
  text-align: center;
  font-weight: 400;
  color: #000100;
  font-size: 1.94rem;
}

section.terms h5 {
  line-height: 3rem;
  text-align: center;
  font-weight: 400;
  color: #000100;
  border-bottom: solid black 1px;
  font-size: 1.75rem;
}

article.searchResults .card {
  width: 60%;
  margin: 0 auto;
  
}

article.searchResults .card a{
  color: #000100;
}
article.searchResults .card a:hover, article.searchResults .card a:active{
  
    color: #6f778e;
 
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5rem;
  justify-content: space-around;

}

footer div ul {
  display: flex;
  font-size: .9rem;
  width: 40%;
  flex-wrap: wrap;
}

footer div ul:first-of-type {
  line-height: 1.45rem;
}
footer.category{
  padding: .15rem;
  margin-bottom: .75rem;
  align-items: baseline;
}
ul.user-review{
  display: flex;
  list-style-type: none;
}
main.content {
  width: 60%;
  margin: 2rem auto;
}

main.content form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

main.single {
  width: 80%;

  margin: 1rem auto;
}

main.single .card {
  min-height: 20vh;
}

main.single .card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
  font-size: 1.45rem;
  line-height: 1.7;
}

main.single .card .review-box {
  display: flex;
}

div.new-review {
  grid-column: 4;
  grid-row: 1;
}

main.single section.card article.grid {
  display: grid;
  grid-template-columns: [row1-start] 5% [row1-end] 30% [third-line] 5% [added-line] auto [fourth-line] 5% [last-line];
  grid-template-rows: [c1-start] auto [c1-end] auto [last-line]
}

main.single .card-content img {
  grid-column: 2;
}

main.single section.right-side {
  grid-column: 4;
  grid-row: 1;
}

.searchResults footer {
  width: 100%;
  padding: .5rem;
}

@media screen and (min-width: 875px) {
  .recentReviews .grid {
    display: flex;
  }

  .recentReviews .card {
    width: 45%;
    margin: 2rem auto;
  }

  section.about article {
    flex-direction: row;
  }

  section.about article p {
    font-size: 1.3rem;
  }

  section.terms article {
    flex-direction: row;
  }

  section.terms article p {
    font-size: 1rem;
  }
}